@model RegexKata.Core.Riddle

<div class="riddle-container">
	<table class="riddle" style="width: 100%">
		@foreach (var clue in Model.Clues) {
			<tr>
				<td class="icon">@Html.Raw(clue.ShouldMatch ? "<span class=\"icon shouldMatch\"></span>" : "&nbsp;")</td>
				<td><p class="clue">@clue.Prompt</p></td>
				<td class="icon"><span class="icon clue-result result-indeterminate" id="@clue.GetHashCode()"></span></td>
			</tr>
		}
	</table>
	<form action="@Url.Action("TestRiddle", "Riddle")" method="post">
		@Html.HiddenFor(r => r.Id)
		<label for="pattern"><input id="pattern" name="pattern" placeholder="Type your answer here" type="text" /></label>
		<span class="btn submit"><span class="icon"></span>Check</span>
		<span class="btn"><span class="icon"></span>Next</span>
		<span class="btn"><span class="icon"></span>Reset</span>
	</form>
	<ol class="priorPatterns"></ol>
</div>