<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	
	<title>RegEx Playground|@ViewBag.Title</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="@Url.Content("~/css/boilerplate.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/riddles.css")">
	<script src="@Url.Content("~/js/modernizr-1.7.min.js")"></script>
</head>

<body>

	<header>
		<h1>Regex Riddles</h1>
		<nav>
			<ul>
				<li><a href="@Url.Action("Index", "Riddle")">Play</a></li>
			</ul>
		</nav>
	</header>

	<div id="content">
		@RenderBody()
	</div>

	<script src="@Url.Content("~/js/yepnope.1.0.1-min.js")"></script>
	<script>

		yepnope([{
			load: [
				'http://code.jquery.com/jquery-1.5.2.min.js'
			],
			complete: function() {
				$(function() {
					
				});
			}
		}]);

	</script>

</body>

</html>